#main{
  max-width: 600px;
  margin: 50px auto;
    padding: 50px 0;
}
#main h2{
  text-align: center;

}

#main p{
  font-size: 24px;
}

@media only screen and (max-width: 700px) {

#main{
  padding: 50px 10px;
}
}